.background {
  background-color: #100804;
  display: flex;  
  flex-wrap: wrap;
  gap: 5px;

  
}

.storage {
  background-color: #994242;
  display: flex;  
  flex-wrap: wrap;
  flex-direction:column;
  width: 100%;
  gap: 5px;
  
  div {
    width: 100%;
    gap: 5px;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .paramStorage {
      background-color: #FF9F9F;
      display: flex;
      flex-direction: wrap;
      flex-direction: column;
      height: 100%;
    }
  }
}
#cacheTable {
  background-color: white;
}
#sramTable {
  background-color: white;
}
.settings {
  background-color: #994242;
  display: flex;  
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    .paramSettings {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: #FF9F9F;
      text-align: center;
      height: 100%;
      justify-content: flex-start;
      div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
      }
      
    }
  }
}

#sizeTable {
  display: grid;
  width: 100%;
  label {
    text-align: right;
    max-width: 300px;
  }
}

#clockTable {
  div {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    width: 100%;
    button {
      width: 100%;
    }
  }
}